@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?331de545205929a4ef07c6f6a371c0c3") format("truetype"),
url("./flaticon.woff?331de545205929a4ef07c6f6a371c0c3") format("woff"),
url("./flaticon.woff2?331de545205929a4ef07c6f6a371c0c3") format("woff2"),
url("./flaticon.eot?331de545205929a4ef07c6f6a371c0c3#iefix") format("embedded-opentype"),
url("./flaticon.svg?331de545205929a4ef07c6f6a371c0c3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-chart:before {
    content: "\f101";
}
.flaticon-contrast:before {
    content: "\f102";
}
.flaticon-cross:before {
    content: "\f103";
}
.flaticon-expand:before {
    content: "\f104";
}
.flaticon-fast-forward:before {
    content: "\f105";
}
.flaticon-globe:before {
    content: "\f106";
}
.flaticon-menu:before {
    content: "\f107";
}
.flaticon-minus:before {
    content: "\f108";
}
.flaticon-pause:before {
    content: "\f109";
}
.flaticon-play:before {
    content: "\f10a";
}
.flaticon-plus:before {
    content: "\f10b";
}
.flaticon-previous:before {
    content: "\f10c";
}
.flaticon-question:before {
    content: "\f10d";
}
.flaticon-rewind:before {
    content: "\f10e";
}
.flaticon-right-down:before {
    content: "\f10f";
}
.flaticon-right-up:before {
    content: "\f110";
}
.flaticon-right:before {
    content: "\f111";
}
.flaticon-search:before {
    content: "\f112";
}
.flaticon-settings:before {
    content: "\f113";
}
.flaticon-skip:before {
    content: "\f114";
}
.flaticon-zoom-in:before {
    content: "\f115";
}
.flaticon-zoom-out:before {
    content: "\f116";
}
